// colors
$blueColor :#0CB7E6;
$blackColor: #000;
$whiteColor: #fff;
$chamoisColor: #F6E7CC;


//font-family
$PoppinsFont: Poppins;
$MerriweatherFont: Merriweather;
$WorkSansFont: Work Sans;

// font-size

$h1FontSize: 8em;
$h2FontSize: 1.25rem;
$h3FontSize: 1rem;